@{
    ViewBag.Title = "Home Page";
}

<div class="parallax-container">
    <div class="parallax"><img src="~/Content/Images/parallax1.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">ASP.NET Material Design</h2>
        <p class="grey-text text-darken-3 lighten-3">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <a class="btn-large waves-effect waves-light btn red lighten-2" href="https://asp.net">Learn more &raquo;</a>
    </div>
</div>

<div class="row">
    <div class="col m4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="~/Content/Images/office.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Getting started<i class="material-icons right">more_vert</i></span>
                <p><a href="https://asp.net">Learn more &raquo;</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Getting started<i class="material-icons right">close</i></span>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
            </div>
        </div>
    </div>
    <div class="col m4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="~/Content/Images/office.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Get more libraries<i class="material-icons right">more_vert</i></span>
                <p><a href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Get more libraries<i class="material-icons right">close</i></span>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            </div>
        </div>
    </div>
    <div class="col m4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="~/Content/Images/office.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Web Hosting<i class="material-icons right">more_vert</i></span>
                <p><a href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Web Hosting<i class="material-icons right">close</i></span>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            </div>
        </div>
    </div>
</div>

@section scripts  {
    <script>
        $(function () {
            var parallax = document.querySelector('.parallax');
            var instance = M.Parallax.init(parallax);

            $(document).ready(function () {
                $('.parallax').parallax();
            });
        });
    </script>
}