<ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="~/Content/Images/office.jpg">
            </div>
            <a href="#user"><img class="circle" src="~/Content/Images/yuna.jpg"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
    </li>
    <li><a class="waves-effect" href="/"><i class="material-icons">home</i>Home</a></li>
    <li><a class="waves-effect" href="/about"><i class="material-icons">touch_app</i>About</a></li>
    <li><a class="waves-effect" href="/contacts"><i class="material-icons">email</i>Contacts</a></li>
    <li><a class="waves-effect" href="/forms"><i class="material-icons">border_color</i>Forms</a></li>

    <li><div class="divider"></div></li>
    <li><a class="subheader">Dummy menu</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>