
@{
    ViewBag.Title = "Index";
}

<div class="row container">
    <h2 class="header">Forms</h2>

    <div class="row">
        <h5>Autocomplete</h5>
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">textsms</i>
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">Autocomplete</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h5>Checkbox</h5>
        <div class="col s12">
            <form action="#">
                <div class="row">
                    <div class="col s4">
                        <label>
                            <input type="checkbox" />
                            <span>Red</span>
                        </label>
                    </div>
                    <div class="col s4">
                        <label>
                            <input type="checkbox" checked="checked" />
                            <span>Yellow</span>
                        </label>
                    </div>
                    <div class="col s4">
                        <label>
                            <input type="checkbox" class="filled-in" checked="checked" />
                            <span>Filled in</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">
                        <label>
                            <input id="indeterminate-checkbox" type="checkbox" />
                            <span>Indeterminate Style</span>
                        </label>
                    </div>
                    <div class="col s4">
                        <label>
                            <input type="checkbox" checked="checked" disabled="disabled" />
                            <span>Green</span>
                        </label>
                    </div>
                    <div class="col s4">
                        <label>
                            <input type="checkbox" disabled="disabled" />
                            <span>Brown</span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <h5>Chips</h5>
        <div class="col s6">
            <div class="chip">
                <img src="~/Content/Images/yuna.jpg" alt="Contact Person">
                Jane Doe
            </div>
        </div>
        <div class="col s6">
            <div class="chip">
                Tag
                <i class="close material-icons">close</i>
            </div>
        </div>
        <div class="col s12">
            <div class="chips chips-placeholder"></div>
        </div>
    </div>

    <div class="row">
        <h5>Date picker</h5>
        <div class="col s12">
            <input type="text" class="datepicker">
        </div>
    </div>

    <div class="row">
        <h5>Time picker</h5>
        <div class="col s12">
            <input type="text" class="timepicker">
        </div>
    </div>

    <div class="row">
        <h5>Radio button</h5>
        <form action="#">
            <p>
                <label>
                    <input name="group1" type="radio" checked />
                    <span>Red</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="group1" type="radio" />
                    <span>Yellow</span>
                </label>
            </p>
            <p>
                <label>
                    <input class="with-gap" name="group1" type="radio" />
                    <span>Green</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="group1" type="radio" disabled="disabled" />
                    <span>Brown</span>
                </label>
            </p>
        </form>
    </div>

    <div class="row">
        <h5>Select</h5>
        <div class="row">
            <div class="col m4 s12">
                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Materialize Select</label>
                </div>
            </div>
            <div class="col m4 s12">
                <div class="input-field col s12">
                    <select multiple>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Materialize Multiple Select</label>
                </div>
            </div>
            <div class="col m4 s12">
                <div class="input-field col s12">
                    <select>
                        <optgroup label="team 1">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </optgroup>
                        <optgroup label="team 2">
                            <option value="3">Option 3</option>
                            <option value="4">Option 4</option>
                        </optgroup>
                    </select>
                    <label>Optgroups</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m6 s12">
                <div class="input-field col s12">
                    <select class="icons">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="" data-icon="/content/images/yuna.jpg" class="left">example 1</option>
                        <option value="" data-icon="/content/images/yuna.jpg" class="left">example 2</option>
                        <option value="" data-icon="/content/images/yuna.jpg" class="left">example 3</option>
                    </select>
                    <label>Images in select</label>
                </div>
            </div>
            <div class="col m6 s12">
                <label>Browser Select</label>
                <select class="browser-default">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <h5>Switch</h5>
        <div class="row">
            <div class="col s6">
                <!-- Switch -->
                <div class="switch">
                    <label>
                        Off
                        <input type="checkbox">
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
            <div class="col s6">
                <!-- Disabled Switch -->
                <div class="switch">
                    <label>
                        Off
                        <input disabled type="checkbox">
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h5>Text input with icons</h5>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        <input id="icon_telephone" type="tel" class="validate">
                        <label for="icon_telephone">Telephone</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            
            M.Autocomplete.init(document.querySelector('.autocomplete'));
            M.Chips.init(document.querySelector('.chips'));

            M.Datepicker.init(document.querySelector('.datepicker'));
            M.Timepicker.init(document.querySelector('.datepickertimepicker'));

            M.FormSelect.init(document.querySelector('select'));

            $(document).ready(function () {
                $('input.autocomplete').autocomplete({
                    data: {
                        "Apple": null,
                        "Microsoft": null,
                        "Google": '/Content/Images/yuna.jpg'
                    },
                });

                $(".chips").chips();
                $('.chips-placeholder').chips({
                    placeholder: 'Enter a tag',
                    secondaryPlaceholder: '+Tag',
                });

                $('.datepicker').datepicker();
                $('.timepicker').timepicker();

                $('select').formSelect();
            });

        });
    </script>
}


