<header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="javascript:void(0)" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a href="/" class="brand-logo">Vidly</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contacts">Contacts</a></li>
            </ul>
        </div>
    </nav>
</header>
