@model VidlyMaterialize.ViewModels.BaseViewModel

<ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="~/Content/Images/office.jpg">
            </div>
            <a href="#user"><img class="circle" src="~/Content/Images/profile-picture.jpg"></a>
            <a href="#name"><span class="white-text name">@Model.UserFirstName @Model.UserLastName</span></a>
            <a href="#email"><span class="white-text email">@Model.UserEmail</span></a>
        </div>
    </li>
    <li><a class="waves-effect" href="/"><i class="material-icons">home</i>Home</a></li>
    <li><a class="waves-effect" href="/customers"><i class="material-icons">people</i>Customers</a></li>
    <li><a class="waves-effect" href="/movies"><i class="material-icons">movie</i>Movies</a></li>
</ul>